
/*Umar*/
body	{
    background-image: url(../images/silverware.jpg);

}
h1,h2{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: Lucida, "Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: underline;
}
h1	{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}
h2	{
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
}

body{
    color: #404040;
    font-size: 11pt;
    font-family:Georgia, Garamond, serif;
}
a{
    color:#A4A400;
}
blockquote   {
    font-style: italic;
    background-color: #FFFFC8;
}
#strike{
    text-decoration: line-through;
}
pre, #validators{
    text-align: right;
}
ul	{
    list-style-image: url(../images/pie_icon.gif);
}